* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(0, 150, 200), rgb(0, 30, 50));
}

h2 {
    padding-top: 15px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CCC;
    box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.05);
}

button {
    padding: 8px 15px;
    background-color: rgb(0, 150, 200);
    color: white;
    border: none;
    cursor: pointer;
}

button.flat {
    background-color: transparent;
    color: black;
}

table {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-collapse: collapse;
}

tbody
{
    border-spacing: 0;
    border: none;
}

tr:not(:first-child) {
    border-top: 1px solid #CCC;
}

tr:not(:first-child):hover {
    background-color: #EEE;
}

th {
    text-align: start;
    padding: 10px;
    user-select: none;
}

td {
    padding: 10px;
}

.fa {
    width: 24px;
    height: 24px;
}

.align-right {
    text-align: right;
}

.pull-right {
    float: inline-end;
}

.mt10 {
    margin-top: 10;
}

.center {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: ". . ."
        ". login ."
        ". . .";
    align-items: start;
}

.login {
    border-radius: 5px;
    padding: 15px;
    grid-area: login;
    background-color: white;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);
}

.content {
    margin: 5% 15%;
    border-radius: 5px;
    padding: 15px;
    background-color: white;
}

.blue {
    fill: blue;
}

.red {
    fill:red;
}

.NoDisplay {
    display: none;
}

.ErrorMsg {
    border: 1px red;
    background-color: rgb(255, 170, 170);
    padding: 15px;
    border-radius: 5px;
}